LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 1, 0, 0, 2
PRODUCTVERSION 1, 0, 0, 2
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
     VALUE "CompanyName", "Andreas Schalk\000"
     VALUE "FileDescription", "Google Test Plugin\000"
     VALUE "FileVersion", "1.0.0.2\000"
     VALUE "InternalName", "GTESTPlugin\000"
     VALUE "LegalCopyright", "Andreas Schalk\000"
     VALUE "LegalTrademarks", "Andreas Schalk\000"
     VALUE "OriginalFilename", "GTESTPlugin\000"
     VALUE "ProductName", "GTESTPlugin\000"
     VALUE "ProductVersion", "1.0\000"
     VALUE "Comments", "Google Test Plugin\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
